@font-face {
    font-family: 'LXGWWenKai';
    src: url("https://npm.elemecdn.com/kendrickzou-fonts@1.0.4/LXGWWenKai-Bold.ttf") format("truetype");
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'LXGWWenKai';
    src: url("https://npm.elemecdn.com/kendrickzou-fonts@1.0.3/LXGWWenKai-Light.ttf") format("truetype");
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'LXGWWenKai';
    src: url("https://npm.elemecdn.com/kendrickzou-fonts@1.0.2/LXGWWenKai-Regular.ttf") format("truetype");
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
}